<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= post.title %></title>
  </head>
  <body>
    <div >
      <h2><%= post.title %></h2>
    </div>
    <div class="responses">
      <% comments.forEach((comment) => { %>
        <div>
          <a href="/post/<%= post.id %>"><%= post.title %>, <%= post.body %></a>
        </div>
      <% }); %>
    </div>
  </body>
</html>
